/* CSS file placeholder. */
label {
  display: inline-block;
  width: 6em;
}
label.right {
  margin-left: 3em;
}
input {
  display: inline-block;
  margin-left: 2em;
}
input[type="file"] {
  border: 1px solid black;
  width: 60%;
}
fieldset {
  border: 1px solid #000;
  margin: 5px 0px;
  border-radius: 5px;
}
fieldset.listings button,fieldset.listings label, fieldset.listings select {
  display: inline-block;
  width: 48%;
}
div.right {
  width: 40%;
  float: right;
  top: 0px;
}
#clearBuffer {
  margin-left: 5em;
}
#resultData {
  width: 98%;
  height: 18em;
  overflow: auto;
}
#receivedFile { 
  width: 98%;
  height: 1em;
  overflow: auto;
}